body {
    background-color: #FFFF;
}

/* Mise en page */

#entete {
    width: 1000px;
    background-image: url("../pictures/kedge.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 248px;
    margin-left: auto;
    margin-right: auto;
}

#texte {
    position: absolute;
    margin-top: 100px;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 10px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#menu {
    width: 300px;
    height: auto;
    float: left;
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
}

article {
    width: 591px;
    float: left;
    height: auto;
}

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    width: 1000px;
    height: auto;
    margin-top: -50px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

li {
    padding-left: 20px;
}

/*formatage des textes*/

nav a {
    font-family: 'Trebucjet MS';
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    margin-right: 2px;
    padding-bottom: 20px;
}

p {
    font-size: 23px;
    font-family: 'Trebucjet MS', sans-serif;
    text-align: justify;
    color: #b08968;
}

li a {
    font-size: 16px;
    font-style: initial;
    margin-left: 3px;
    color: #E4E0D1;
    text-decoration: none;
}

h1 {
    font-size: 250%;
    text-align-last: center;
    font-family: 'Trebuchet MS';
    font-variant: small-caps;
    font-style: oblique;
    color: #fdfcdc;
}

h4 {
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-variant: small-caps;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    margin: 0px;
}

footer p {
    font-size: 15px;
    color: #fdfcdc;
    font-family: 'Trebucjet MS';
    background-color: black;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebucjet MS';
    color: #FFFFFF;
    padding-left: 100px;
    padding-right: 20px;
}

article p::first-letter {
    font-size: 250%;
    font-weight: lighter;
}

/*Affichage menu*/

#menu-deroulant {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    width: 180px;
    background-color: black;
    padding-top: 0px;
    margin-top: 0px;
}

#menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    border: 5px;
}

#menu-deroulant li li {
    max-height: 0;
    overflow: hidden;
    padding-right: 30px;
}

#menu-deroulant a {
    display: block;
    padding: 3px;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    border-radius: 3px;
}

#menu-deroulant li:hover li {
    max-height: 5em;
    color: black;
}

#menu-deroulant li:hover h4 {
    color: #f0efeb;
    text-decoration: underline;
    border-bottom: 4px gold;
}

h3 {
    font-family: 'Trebucjet MS';
    text-align: center;
    font-size: 29px;
    color: #7f5539;
    font-variant: inherit;
    font-style: italic;
    font-weight: bold;
}



article h3 {
    font-family: 'Trebucjet MS';
    font-size: 23px;
    color: black;
}